<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Fanatics Landing Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Electrolize">
</head>
<body>
    <h1>This is our home landing page! <a href="/movies">Click Here to Enter</a></h1>
</body>
</html>